<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    
    <title>Forter Home Exercise - Eliran Pe'er</title>
    <link rel="stylesheet" href="/css/bulma.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
</head>

<body>
    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Forter Home Exercise
                </h1>
                <h2 class="subtitle">
                    Eliran Pe'er
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <form id="form-login">
                        <input type="password" id="field-bot-trap" />   
                        <h1 class="title">Login</h1>

                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="Email Address" id="field-email" required/>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="password" placeholder="Password" id="field-password" required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-key"></i>
                                </span>
                            </p>
                        </div>

                        <a href="#" id="button-bot-trap">Bot trap</a>
                        <button type="submit" class="button is-primary" id="button-submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Made by <strong>Eliran Pe'er</strong>
                </p>
                <p>
                    <a class="icon" target="_blank" href="https://github.com/bluz">
                        <i class="fa fa-github"></i>
                    </a>

                    <a class="icon" target="_blank" href="https://www.linkedin.com/in/eliranpeer/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>